
@supports (mix-blend-mode: multiply) {
  .fullturbo {
    position: relative;
    color: #fff;
    background: #000;
    mix-blend-mode: lighten;
    user-select: none;
    overflow: hidden;
  }
  .hover\:fullturbo{
    position: relative;
    user-select: none;
    overflow: hidden;
  }
  .hover\:fullturbo:hover {
    color: #fff;
    background: #000;
    mix-blend-mode: lighten;
  }
  .fullturbo::before,
  .hover\:fullturbo:hover::before {
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    background: linear-gradient(90deg, hsl(var(--p)), hsl(var(--s)), hsl(var(--p)), hsl(var(--s)), hsl(var(--p)));
    pointer-events: none;
    mix-blend-mode: multiply;
    animation-name: fullturbo;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .fullturbo::before{
    animation-duration: 2s;
  }
  .hover\:fullturbo:hover::before{
    animation-duration: 1s;
  }
}

@keyframes fullturbo {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}